body{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.container{
    margin-top: 20% !important;
    width: 50% !important;
border-radius: 20% 10% 20% 10%;

}
input{
    margin-top:4% !important;
    }
small{
    color: rgb(232, 21, 21);
    font-weight: bold;
  
    text-align: start !important;
 
}
.btn{
 text-align: center;
   
   
}
.success{
    border:3px solid green !important;
    
}
.error{
    border: 3px solid red !important;
}
@media only screen and (min-width:900px){
    .container{
        margin-top: 10% !important ;
       width:80% !important;
      
        }
      


}